<div class="wrapper">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <div>
                    Vendor Material Management System
                </div>
                
            </a>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a routerLink="vendors" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Vendors</span></a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="materials" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Materials</span></a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="orders" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Orders</span> </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col py-3">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>